<!DOCTYPE html>
<html>
<head>
    <title>PDF Liste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .custom-pdf-container {
            padding-top: 20px;
        }

        .custom-pdf-table {
            border-radius: 5px;
            overflow: hidden;
            text-align: center;
        }

        .custom-pdf-table th {
            background-color: #007bff;
            color: white;
        }

        .custom-pdf-table td {
            vertical-align: middle;
        }

        .custom-pdf-table td a {
            margin-right: 5px;
        }

        .custom-pdf-controls > :first-child {
            flex-grow: 1;
        }

        .custom-pdf-controls > :last-child {
            flex-grow: 1;
        }
    </style>
</head>
<body>
<%- include('../components/navbar') %>
<div class="container custom-pdf-container">
    <div class="form-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search by Date, Name, User, ID, or Link">
    </div>
    <div class="table-responsive custom-pdf-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Dato</th>
                <th>Navn</th>
                <th>Bruker</th>
                <th>ID</th>
                <th>Link</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% pdfs.forEach(pdf => { %>
                <tr>
                    <td><%= new Date(+pdf.createdAt).toLocaleDateString() %></td>
                    <td><%= pdf.name %></td>
                    <td><%= pdf.userId?.name ?? 'Removed'  %></td>
                    <td><%= pdf.userId?.accountId ?? "Unknown"  %></td>
                    <td><a href="/pdfs/<%= pdf._id %>">Se PDF</a></td>
                    <td class="d-flex custom-pdf-controls">
                        <button class="btn btn-danger btn-sm w-100" onclick="deletePdf('<%= pdf._id %>')">Slett</button>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</div>

<script>
    function deletePdf(pdfId) {
        if (confirm("Er du sikker på at du vil slette denne PDF-filen?")) {
            fetch(`/api/pdfs/${pdfId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
            })
                .then(response => {
                    if (response.status == 200) {
                        // Handle success
                        alert("PDF deleted successfully!");
                        // You can reload the page or update the UI as needed
                        location.reload();
                    } else {
                        // Handle error
                        alert("Failed to delete PDF.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while deleting the PDF.");
                });
        }
    }

    const searchInput = document.getElementById('searchInput');
    const tableRows = document.getElementsByTagName('tr');

    searchInput.addEventListener('keyup', function () {
        const filter = searchInput.value.toLowerCase();

        for (let i = 1; i < tableRows.length; i++) {
            const columns = tableRows[i].getElementsByTagName('td');
            let rowContent = "";
            for (let j = 0; j < columns.length; j++) {
                rowContent += columns[j].innerText.toLowerCase() + " ";
            }

            if (rowContent.includes(filter)) {
                tableRows[i].style.display = '';
            } else {
                tableRows[i].style.display = 'none';
            }
        }
    });
</script>

</body>
</html>
