<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table{
            text-align: center;
        }

        .controls{
            display: flex;
        }

        .controls > *{
            flex-grow: 1;
        }
    </style>
</head>
<body>
<%- include('../components/navbar') %>
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>User List</h1>
        <a href="/users/create" class="btn btn-primary"> Create User</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><%= new Date(+user.createdAt).toLocaleString()%></td>
                <td class="controls">
                    <a href="/users/<%= user._id %>/edit" class="btn btn-primary btn-sm me-1">Edit</a>
                    <form action="/users/<%= user._id %>?_method=DELETE" method="POST" >
                        <button type="submit" class="btn btn-danger btn-sm w-100">Delete</button>
                    </form>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>
