<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<%- include('../components/navbar') %>
<div class="container">
    <h1>Edit User</h1>
    <form id="editUserForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <div class="form-group">
            <label for="accountId">accountId</label>
            <input type="text" class="form-control" id="accountId" name="accountId" value="<%= user.accountId %>" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" value="<%= user.phone %>" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="updateUser()">Update User</button>
    </form>
</div>

<script>
    function updateUser() {
        const name = document.getElementById("name");
        const accountId = document.getElementById("accountId");
        const phone = document.getElementById("phone");
        const password = document.getElementById("password");

        const userId = "<%= user._id %>";

        fetch(`/api/users/${userId}`, {
            method: 'PUT',
            body: JSON.stringify({
                name: name.value,
                accountId: accountId.value,
                phone: phone.value,
                password: password.value,
            }),
            headers:{
                'Content-Type': 'application/json; charset=utf-8'
            }
        })
            .then(response => {
                if (response.status == 200) {
                    // Handle success
                    alert("User updated successfully!");
                    location.href = '/users'
                } else {
                    // Handle error
                    alert("Failed to update user.");
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert("An error occurred while updating user.");
            });
    }
</script>

</body>
</html>
